html {
    font-family: arial, sans-serif;
    background-color: $main-color;
    font-size: 10px;
}

body {
    width: 1940px;
}

.wprapper {


    .hello {
        width: 100vw;
        height: 100vh;
        background-color: red;

        &__text {
            color: yellowgreen;
        }

        &__title {
            color: green;
        }

    }
}