//colors

$main-color: gray;
$nav-font-color: #1B2F5B;
$active-color: #16a596; //Cards Variables


//card-colors

$bids-card-color: #FF9D97;
$statistics-card-color:#A1C1B1;

//card-track-order--colors

$flex-gap: 30px;

//properties